#Thu Nov 03 19:03:05 EDT 2016
nickcomplete=false
pastebinapi=1e90817c7621ade0adbd8b5e12634786
discordtoken=MjM0Mzc3MzExNTM1ODkwNDM1.Cv1UKA.13_3_aaD4pMk2COIuwZrRlsxFeY
twitchclientid=k5zqnvl90ktitsdjag0x75msm9ulynd
catchchar=`
version=-[ SnackBot by Lunchington ]-
ircAdmin=#lunchtest
port=6667
discordAdmin=snackbottest
authpassword=password
authserv=
server=irc.breakfastcraft.com
mcserverdir=/home/mcservers
cmdtimeout=10
realname=SnackBotTest
nick=SnackBotTest
messagecount=1
channel=\#Lunchtest
user=SnackBotTest
