#Mon Jan 18 10:26:11 EST 2016
nick=SnackBot_TEST
messagecount=1
nickcomplete=false
port=6667
server=localhost
user=SnackBot
cmdtimeout=0
channel=\#lunchtest
version=-[ SnackBot by Lunchington ]-
catchchar=!
authserv=
realname=SnackBot
authpassword=password
pastebinapi=1e90817c7621ade0adbd8b5e12634786
discordtoken=MjM0Mzc3MzExNTM1ODkwNDM1.CtrIaQ.TlE4PUp50XJjBQYRUz39sYJ7_2g
mcserverdir=C:/Dev/SnackBot/resources/logs/
discordAdmin=snackbottest
ircAdmin=#lunchtest